@model IEnumerable<Webtt.Models.User>
@{ ViewData["Title"] = "Index";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }
<div class="Add">
    <div class="Add-product">
        <h2>Người dùng</h2>
        <p>Thêm mới:</p>
        <a asp-controller="Account" asp-action="Register">
            <i class="add-product fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>
</div>
<div class="details-product">
    <div class="products">
        <div class="cardHeader">
            <div class="show">
                <div class="show-item">
                    <label>
                        Show
                        <select name="showItem" aria-controls="" class="customer-show">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="filter">
                <div class="filter-search">
                    Search:
                    <input type="search" class="filter-s">
                </div>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Full Name</td>
                    <td>Email</td>
                    <td>Hành Động</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                    <td>
                        <a asp-controller="AccountManage" asp-action="Edit" asp-route-id="@item.Id">
                            <i class=" edit fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a asp-controller="AccountManage" asp-action="Delete" asp-route-id="@item.Id">
                            <i class=" delete fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="control">
            <ul class="numbers">
                <li class="control-numbers">
                    <a href="#" class="page-link">Trước</a>
                </li>
                <li class="control-numbers">
                    <a href="#" class="page-link">
                        1
                    </a>
                </li>
                <li class="control-numbers">
                    <a href="#" class="page-link">2</a>
                </li>
                <li class="control-numbers">
                    <a href="#" class="page-link">3</a>
                </li>
                <li class="control-numbers">
                    <a href="#" class="page-link">4</a>
                </li>
                <li class="control-numbers">
                    <a href="#" class="page-link">5</a>
                </li>
                <li class="control-numbers">
                    <a href="#" class="page-link">Sau</a>
                </li>
            </ul>
        </div>
    </div>
</div>
