@model Webtt.Models.NewsModels

@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="add">Add Product</h1>
    <hr />
    <form asp-action="Add" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-25">
                <label asp-for="NewsTitle" class="label-form"></label>
            </div>
            <div class="col-75">
                <input asp-for="NewsTitle" class="input-form" type="text" placeholder="Title..">
                <span asp-validation-for="NewsTitle" class="text-danger"></span>
            </div>
           
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="NewsImage" class="label-form"></label>
            </div>
            <div class="col-75">
                <input asp-for="NewsImage" class="input-form" id="customFile" type="file">
                <span asp-validation-for="NewsImage" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="NewsContent" class="label-form"></label>
            </div>
            <div class="col-75">
                <input asp-for="NewsContent" class="input-form" type="text" placeholder="Content..">
            </div>
        </div>
        <div class="row">
            <input class="submit-form" type="submit" value="Create">
        </div>
    </form>
    <div class="back">
        <a class="button-back" asp-action="Index">Back</a>
    </div>
</div>

