@model Webtt.Models.ProductModels

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="add">Delete Product</h1>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <div class="row">
            <div class="col-25">
                <label asp-for="ProductName" class="label-form"></label>
            </div>
            <div class="col-75">
                @Html.DisplayFor(model => model.ProductName)
            </div>
        </div>
        @*<div class="row">
            <div class="col-25">
                <label asp-for="ProductImage" class="label-form"></label>
            </div>
            <div class="col-75">
                <input asp-for="ProductImage" class="input-form" type="file" name="photo">
            </div>
        </div>*@
        <div class="row">
            <div class="col-25">
                <label asp-for="Description" class="label-form"></label>
            </div>
            <div class="col-75">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="ProductPrice" class="label-form"></label>
            </div>
            <div class="col-75">
                @Html.DisplayFor(model => model.ProductPrice)
            </div>
        </div>
        @*<div class="row">
            <div class="col-25">
                <label asp-for="CategoryId" class="label-form" for="country"></label>
            </div>
            <div class="col-75">
                <select asp-for="CategoryId" class="select-form" asp-items="ViewBag.CategoryId">
                </select>
            </div>
        </div>*@
        <div class="row">
            <input class="submit-form" type="submit" value="Delete">
        </div>
    </form>
    <div class="back">
        <a class="button-delete" asp-action="Index">Back</a>
    </div>
</div>
