@model Webtt.Models.ProductModels

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="add">Edit Product</h1>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProductId" />
        <div class="row">
            <div class="col-25">
                <label asp-for="ProductName" class="label-form"></label>
            </div>
            <div class="col-75">
                <input asp-for="ProductName" class="input-form" type="text" placeholder="ProductName..">
            </div>
        </div>
        @*<div class="row">
            <div class="col-25">
                <label asp-for="ProductImage" class="label-form"></label>
            </div>
            <div class="col-75">
                <input asp-for="ProductImage" class="input-form" type="file" name="photo">
            </div>
        </div>*@
        <div class="row">
            <div class="col-25">
                <label asp-for="Description" class="label-form"></label>
            </div>
            <div class="col-75">
                <input asp-for="Description" class="input-form" type="text" placeholder="Description..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="ProductPrice" class="label-form"></label>
            </div>
            <div class="col-75">
                <input asp-for="ProductPrice" class="input-form" type="number" placeholder="Price..">
            </div>
        </div>
        @*<div class="row">
            <div class="col-25">
                <label asp-for="CategoryId" class="label-form" for="country"></label>
            </div>
            <div class="col-75">
                <select asp-for="CategoryId" class="select-form" asp-items="ViewBag.CategoryId">
                </select>
            </div>
        </div>*@
        <div class="row">
            <input class="submit-form" type="submit" value="Save">
        </div>
    </form>
    <div class="back">
        <a class="button-edit" asp-action="Index">Back</a>
    </div>
</div>





