*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    max-width: 1363px;
    width: 100%;
    height: 49px;
    margin: 50px auto;
    background-color: rgb(32, 172, 226);
    box-sizing: border-box;
    position: relative;
    z-index: 995;
}
#nav{
    display: inline-block;
    margin: 0 0 0 84px;
}
#nav > li{
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav li a{
    display: block;
    text-decoration: none;
    line-height: 49px;
    padding: 0 24px;
}
#nav li:hover .sub-nav{
    display: block;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li:hover ,
#nav > li:hover > a{
    color: yellow;
}
#nav .sub-nav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.3);
    list-style-type: none;
    border-radius: 0 0 10px 10px;
}
#nav .sub-nav a{
    color: rgb(0, 0, 0);
    padding: 0 12px;
    line-height: 38px;
    min-width: 250px;
}
#nav .sub-nav li >ul{
    list-style-type: none;
    display: block;
}
#nav .sub-nav li:hover ul{
    top: 100%;
	opacity: 1;
    visibility: visible;
}
/* #nav .sub-nav ul {
    top: 0;
    left: 100%;
} */
.homepage{
    width: 196px;
    height: 49px;
    background-color: red;
    text-align: center;
}
#nav .sub-nav > a:after {
    opacity: 0;
    content: "";
    background: #c90202;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    z-index: -2;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}


/* ---menu-doc-- */
.left{
    width: 270px;
    float: left;
    position: relative;
    z-index: 99;
}
.box-left{
    position: relative;
}
.left-tit{
    text-align: center;
    position: relative;
    background: #393939;
    align-items: center;
}
.left-tit .name{
    position: relative;
    z-index: 11;
    font: 16px/25px;
    color: #fff;
    padding: 15px 15px 10px 15px;
    text-transform: uppercase;
}
.left-box{
    z-index: 999;
    border-top: none;
    background: #f7f7f7;
}
.menu-left{
    margin: 0px;
    border-top: none;
    border-right: 1px solid #f6f6f6;
    border-left: 1px solid #f6f6f6;
    position: relative;
    background: #fff;
}
.menu-left a {
    font-size: 14px;
    line-height: 20px;
    display: block;
    text-align: left;
    padding: 10px 15px;
}
.menu-left .menu-level1{
    z-index: 99;
    border-bottom: 1px solid #f6f6f6;
    position: relative;
}
.menu-left li{
    display: block;
    position: relative;
}
.menu-left .menu-level1 > a {
    padding: 12px 10px 7px 15px;
    font: 16px/20px utma;
    color: #000;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
}
.menu-left li ul {
    width: 100%;
    position: relative;
    top: 0px;
    background: #fffdfd;
    min-width: 200px;
    margin: 0;
    display: none;
    z-index: 9999;
}
#Container .menu-left li ul {
    position: absolute;
    top: 0;
    padding: 0px 0;
    left: 100%;
    background: #fffdfd;
    min-width: 250px;
    margin: 0;
    display: none;
    z-index: 9999;
    width: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=0, Color=#000000)";
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#000000";
}
#Container .left-tit .name {
    justify-content: space-between;
    align-items: baseline;
}
.menu-left svg.dot {
    padding: 10px;
}
.menu-left .dot {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 30px;
    height: 30px;
    padding: 5px 5px;
    cursor: pointer;
    text-align: center;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.menu-left .menu-level2 > a {
    padding: 10px 15px 10px 15px;
}
.menu-left .dot:before {
    content: "\f054";
    display: inline-block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.menu-left .act > .dot:before {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
#Container .menu-left li:hover > ul {
    display: block;
}
a:hover {
    text-decoration: none !important;
    color: #F00;
}
.menu-left .menu-level1 li:hover {
    background: rgba(0, 0, 0, 0.1);
}