@model Webtt.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="add">Add Category</h1>
    <hr />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-25">
                <label asp-for="CategoryName" class="label-form"></label>
            </div>
            <div class="col-75">
                <input asp-for="CategoryName" class="input-form" type="text" placeholder="Title..">
            </div>
        </div>
        <div class="row">
            <input class="submit-form" type="submit" value="Create">
        </div>
    </form>
    <div class="back">
        <a class="button-back" asp-action="Index">Back</a>
    </div>
</div>
