@model Webtt.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="add">Delete Category</h1>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <div class="row">
            <div class="col-25">
                <label asp-for="CategoryName" class="label-form"></label>
            </div>
            <div class="col-75">
                @Html.DisplayFor(model => model.CategoryName)
            </div>
        </div>       
        <div class="row">
            <input class="submit-form" type="submit" value="Delete">
        </div>
    </form>
    <div class="back">
        <a class="button-delete" asp-action="Index">Back</a>
    </div>
</div>