@model Webtt.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="add">Edit Category</h1>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CategoryId" />
        <div class="row">
            <div class="col-25">
                <label asp-for="CategoryName" class="label-form"></label>
            </div>
            <div class="col-75">
                <input asp-for="CategoryName" class="input-form" type="text" placeholder="ProductName..">
            </div>
        </div>
        <div class="row">
            <input class="submit-form" type="submit" value="Save">
        </div>
        @if (ViewBag.Status == 1)
        {
            <p class="text-warning">Record saved </p>
        }
    </form>
    <div class="back">
        <a class="button-edit" asp-action="Index">Back</a>
    </div>
</div>